<header class="site-header">
  <div class="header_img" style="margin-top:50px">
    <a href="{{ site.baseurl }}/" onfocus="this.blur()">
      <!-- <img src="https://media.cargocollective.com/1/6/208500/headerimg/jeroenerosie_header.jpg" height="134" width="200"> -->
      <img src="/assets/logo.png" width="300">
    </a>
  </div>
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
    </ul>
  </nav>

</header>
